---
- name: Supplemental tweaks to make KDE Plasma usable as a daily driver
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
    - name: Unlock SSH keys by KWallet at login
      # See also https://wiki.archlinux.org/title/KDE_Wallet#Using_the_KDE_Wallet_to_store_ssh_key_passphrases
      when: ansible_lsb.id == 'Debian' and ansible_lsb.codename == 'bookworm' or
        ansible_lsb.id == 'Ubuntu' and ansible_lsb.codename == 'noble'
      tags: ssh-agent
      block:
        - name: Install prerequisites
          become: true
          ansible.builtin.apt:
            name:
              - desktop-file-utils
              - ksshaskpass
            state: present

        - name: Create drop-in folder for systemd environment files
          ansible.builtin.file:
            path: "{{ ansible_user_dir }}/.config/environment.d"
            owner: "{{ ansible_user_uid }}"
            group: "{{ ansible_user_gid }}"
            mode: '0755'
            state: directory

        - name: Copy systemd environment file
          ansible.builtin.copy:
            src: ssh-askpass.conf
            dest: "{{ ansible_user_dir }}/.config/environment.d/ssh-askpass.conf"
            owner: "{{ ansible_user_uid }}"
            group: "{{ ansible_user_gid }}"
            mode: '0644'

        - name: Copy desktop entry for autostart
          ansible.builtin.copy:
            src: ssh-add.desktop
            dest: "{{ ansible_user_dir }}/.config/autostart/ssh-add.desktop"
            owner: "{{ ansible_user_uid }}"
            group: "{{ ansible_user_gid }}"
            mode: '0644'
            # TODO Validate does not comply to tempfile w/o .desktop extension with desktop-file-utils v0.26
            # Though, does work with v0.27
            validate: desktop-file-validate %s

        - name: Add private keys to the SSH agent
          ansible.builtin.command: ssh-add -q
          changed_when: false

    - name: Tweak Fcitx 5 for Wayland
      # See https://fcitx-im.org/wiki/Using_Fcitx_5_on_Wayland#KDE_Plasma
      tags: fcitx
      when: ansible_distribution == 'Ubuntu' and ansible_distribution_version == '24.04'
      block:
        - name: Set user environment variables
          become: false
          ansible.builtin.blockinfile:
            path: "{{ ansible_user_dir }}/.config/environment.d/fcitx.conf"
            owner: "{{ ansible_user_uid }}"
            group: "{{ ansible_user_gid }}"
            mode: '0644'
            create: true
            block: |
              XMODIFIERS=@im=fcitx
            marker: "# {mark} ANSIBLE MANAGED BLOCK"
          notify: Reload user environment

        - name: Manual configuration hint
          ansible.builtin.debug:
            msg: "Run `im-config` and then selecting 'do not activate any IM from im-config
              and use desktop default'"

  handlers:
    - name: Reload user environment
      ansible.builtin.shell: |
        source {{ ansible_user_dir }}/.config/environment.d/*.conf 2>/dev/null || true
      args:
        executable: /usr/bin/bash
      changed_when: false
